<div>
    <script type="text/plain" id="temp-kanban2">
        <div class="line-kanban2">
            <div class="line-kanban2-item box box-solid stn-status">
                <table class="table table-striped compact" style="width:inherit;">
                    <thead>
                        <tr>
                            <th width="100px">工站</th>
                            <th width="30px">人</th>
                            <th width="30px">机</th>
                            <th width="30px">料</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Status.STINFO}}
                        <tr>
                            <th>{{L_STNO}}</th>
                            {{#if OPRLST}}
                            <td><i class="fa fa-circle stn2-R"></i></td>
                            {{else}}
                            <td><i class="fa fa-circle stn2-F"></i></td>
                            {{/if}}
                            <td><i class="fa fa-circle stn2-{{STATUS}}"></i></td>
                            {{#if WARNINFO}}
                            <td><i class="fa fa-circle stn2-F"></i></td>
                            {{else}}
                            <td><i class="fa fa-circle stn2-R"></i></td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="line-kanban2-item line-kanban2-item-main">
                <div class="box box-solid bg-yellow" id="line-kanban2-info">
                    <div class="box-header">
                        <h3 class="box-title">警告!</h3>
                    </div>
                    <div class="box-body">
                        <p>XXXX XXX XXXX</p>
                    </div>
                </div>
                <div class="box box-solid" id="line-kanban2-proc">

                </div>
            </div>
        </div>
    </script>

    <script type="text/plain" id="temp-kanban-tooltip">
        {{DISPLAYNAME}}
        <br />工单:{{WOID}}
        <br />投入数:{{IWIP}}
    </script>
    <script type="text/plain" id="temp-stn-list">
        <table class="table compact table-hover">
            <thead>
                <tr>
                    <th>工站代码</th>
                    <th>名称</th>
                    <th>工单</th>
                    <th>操作工</th>
                    <th>WIP</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {{#each Status.STINFO}}
                <tr class="stn-status-{{STATUS}}">
                    <td><a href="Stn?{{../info.name}};{{L_OPNO}};{{L_STNO}}">{{L_STNO}}</td>
                    <td><a href="Stn?{{../info.name}};{{L_OPNO}};{{L_STNO}}">{{DISPLAYNAME}}</td>
                    <td>{{WOID}}</td>
                    <td>{{OPRLST}}</td>
                    <td>{{ISUM}}</td>
                    <td>{{STATUS}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/plain" id="temp-log-list">
        <table class="table compact">
            <colgroup>
                <col width="150px" />
                <col />
            </colgroup>
            <tbody>
                {{#each Status.LOGTAB}}
                <tr class="log-{{LEVEL}}">
                    <td>{{dt CTIME}}</td>
                    <td>{{CONTENT}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/plain" id="temp-lot-list">
        <table class="table compact table-striped table-hover">
            <thead>
                <tr>
                    <th>料号</th>
                    <th>名称</th>
                    <th>单耗量</th>
                    <th>当前已经扫描投入数量</th>
                    <th>在线批次号</th>
                    <th>剩余数量</th>
                    <th>最近扫描时间</th>
                    <th width="90px"></th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{ COMPPN }}</td>
                    <td>{{ DESCRIPTION }}</td>
                    <td>{{ UNITCONSUME }}</td>
                    <td>{{ INQTY }}</td>
                    <td>{{ LOTNO }}</td>
                    <td>
                        {{#eq LOTNO ''}}
                        {{else}}
                        <input type="text" name="leftQty" value="{{ LEFTQTY }}" />
                        {{/eq}}
                    </td>
                    <td>{{ dt SCANDT }}</td>
                    <td>
                        {{#eq LOTNO ''}}
                        {{else}}
                        <a href="#" class="btn btn-danger btn-sm" data-lot="{{LOTNO}}">退料</a>
                        {{/eq}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/plain" id="temp-admin">
        <div class="box-header with-border">
            <h3 class="box-title">产线控制</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{info.name}}&nbsp;<small class="text-white">{{info.disp}}</small></h3>
                    {{#if Status.LINEINFO}}
                    <p>
                        OEE: &nbsp;{{Status.LINEINFO.0.OEE}}
                    </p>
                    {{/if}}
                </div>
                <div class="icon">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="row" class="smll-box-footer" id="line-admin">
                    <div class="col-sm-offset-2 col-sm-3">
                        <button class="btn btn-lg btn-success btn-block" {{#if Status.Error}} {{else}} disabled="disabled" {{/if}}><i class="fa fa-play"></i> 启动</button>
                    </div>
                    <div class="col-sm-offset-1 col-sm-3">
                        <button class="btn btn-lg btn-danger btn-block" {{#if Status.Error}} disabled="disabled" {{/if}}><i class="fa fa-stop"></i> 停止</button>
                    </div>
                </div>
                <a href="#" class="smll-box-footer">&nbsp;</a>
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-summary">
        <div class="box-header with-border">
            <h3 class="box-title">产线看板</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body" id="stn-list">
        </div>

        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-wo">
        <div class="box-header with-border">
            <h3 class="box-title">工单控制</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body" id="wo-list">
            <table class="table compact table-striped table-hover">
                <thead>
                    <tr>
                        <th>工单</th>
                        <th>料号</th>
                        <th>说明</th>
                        <th>规格</th>
                        <th>计划下达日</th>
                        <th>计划产出数量</th>
                        <th>已产出数量</th>
                        <th>投入数量</th>
                        <th width="190px"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Wos}}
                    <tr>
                        <td>{{ WOID }}</td>
                        <td>{{ PARTNO }}</td>
                        <td>{{ DESCRIPTION }}</td>
                        <td>{{ SPEC }}</td>
                        <td>{{dt PLANSTART}}</td>
                        <td>{{ PSUM }}</td>
                        <td>{{ OSUM }}</td>
                        <td>{{ ISUM }}</td>
                        <td>
                            {{#eq STATUS 'A'}}
                            <a href="#" class="btn btn-info  btn-sm" data-cmd="WOEND" data-woid="{{WOID}}">停止</a>
                            <a href="#" class="btn btn-danger  btn-sm" data-cmd="WOCLOSE" data-woid="{{WOID}}">关闭</a>
                            {{ else}}
                            <a href="#" class="btn btn-success btn-sm" data-cmd="WOSTART" data-woid="{{WOID}}">启动</a>
                            {{/eq}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">启动新工单</h3>
        </div>
        <div class="box-footer">
            <form class="form-inline" id="wo-form">
                <div class="form-group">
                    <label>工单号</label>
                    <input type="text" name="woid" class="form-control" placeholder="工单号" />
                </div>
                <div class="form-group">
                    <label>料号</label>
                    <select name="pn" class="form-control select2" style="width:400px;">
                        <option value="">--请选择--</option>
                        {{#each Pns}}
                        <option value="{{PARTNO}}">{{PARTNO}} - {{DESCRIPTION}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>数量</label>
                    <input type="text" name="qty" class="form-control" placeholder="数量" />
                </div>
                <button type="submit" class="btn btn-primary btn">启动</button>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-opr">
        <div class="box-header with-border">
            <h3 class="box-title">操作工</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <form id="opr-form">
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" name="uid" class="form-control" placeholder="账号" />
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" name="pwd" class="form-control" placeholder="密码" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block" data-cmd="OprLogin">登录</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-danger btn-block" data-cmd="OprLogout">登出</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-ldmtl">
        <div class="box-header with-border">
            <h3 class="box-title">上料</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <form id="ldmtl-form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">工单</label>
                    <div class="col-sm-9">
                        <select name="wo" class="form-control select2" style="width:100%;">
                            <option value="">--请选择--</option>
                            {{#each Status.WOLIST}}
                            {{#eq STATUS 'A'}}
                            <option value="{{WOID}}">{{WOID}} - {{PARTNO}} - {{DESCRIPTION}}</option>
                            {{/eq}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">工序</label>
                    <div class="col-sm-9">
                        <select name="op" class="form-control select2" style="width:100%;">
                            <option value="">--请选择--</option>
                            {{#each Ops}}
                            <option value="{{Op}}">{{Op}} - {{Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">批次号</label>
                    <div class="col-sm-9">
                        <input type="text" name="lot" class="form-control" placeholder="批次号" />
                    </div>
                </div>
                <!--
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">料号</label>
                                            <div class="col-sm-9">
                                                <select name="pn" class="form-control select2" style="width:100%">
                                                    <option value="">--请选择--</option>
                                                    {{#each Pns}}
                                                    <option value="{{PARTNO}}">{{PARTNO}} - {{DESCRIPTION}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">数量</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="qty" class="form-control" placeholder="数量" />
                                            </div>
                                        </div>
                -->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block" data-cmd="MSCAN">提交</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">物料清单</h3>
        </div>
        <div class="box-body lot-list" id="lot-list">
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-scrap">
        <div class="box-header">
            <h3 class="box-title">报废</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <form id="line-scan-form">
                <div class="form-group">
                    <label class="control-label">扫码</label>
                    <input type="text" name="bc" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <label class="control-label">报废原因代码</label>
                    <select name="code" class="form-control select2">
                        <option value="">-- 请选择 --</option>
                        {{#each Codes}}
                        <option value="{{@key}}">{{@key}} - {{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <button class="btn btn-primary btn-block">提交</button>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>

    <script type="text/plain" id="temp-downgrade">
        <div class="box-header">
            <h3 class="box-title">降级</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <form id="line-scan-form">
                <div class="form-group">
                    <label class="control-label">扫码</label>
                    <input type="text" name="bc" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <label class="control-label">降级代码</label>
                    <select name="code" class="form-control select2">
                        <option value="">-- 请选择 --</option>
                        {{#each Downgrade.Codes}}
                        <option value="{{@key}}">{{@key}} - {{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">目的工单</label>
                    <select name="wo" class="form-control select2">
                        <option value="">-- 请选择 --</option>
                        {{#each Status.WOLIST}}
                        <option value="{{WOID}}">{{WOID}}</option>
                        {{/each}}
                    </select>
                </div>
                <button class="btn btn-primary btn-block">提交</button>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>
    <script type="text/plain" id="temp-rwk">
        <div class="box-header">
            <h3 class="box-title">返工</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body line-form">
            <form id="line-scan-form">
                <div class="form-group">
                    <label class="control-label">扫码</label>
                    <input type="text" name="bc" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <label class="control-label">返工原因代码</label>
                    <select name="code" class="form-control select2">
                        <option value="">-- 请选择 --</option>
                        {{#each Rwk.Codes}}
                        <option value="{{@key}}">{{@key}} - {{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">返工到</label>
                    <select name="wo" class="form-control select2">
                        <option value="">-- 请选择 --</option>
                        {{#each Ops}}
                        <option value="{{Op}}">{{Op}} -- {{Name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button class="btn btn-primary btn-block">提交</button>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list" id="log-list">
        </div>
    </script>
</div>