*.bak 
*~
~$*.*
Published/
bin/
obj/
debug/
release/
PrecompiledWeb/
.*/
build/
*.suo
*.pdsync
*.pdsyncu
*.ncb
*.user
*.user*
PublishProfiles/
..metadata/
RemoteSystemsTempFiles/
ipch/
*.*sdf
*.vcxproj.*
temp/
*.psess
/referenceDLL/Log
/packages
/MES.Web/Log
