<!DOCTYPE html>
@model System.Web.Mvc.HandleErrorInfo
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>错误。</h1>
    </hgroup>
    @if (Model != null)
    {
        var ex = Model.Exception;
        while (ex.InnerException != null)
        {
            ex = ex.InnerException;
        }
        <p>
            错误信息: @ex.Message
        </p>
    }
    else
    {
        <p class="bg-info text-info">未知错误</p>
    }
</body>
</html>
