<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">产线控制</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body">
            <div class="row" id="line-line">
                <div class="col-sm-offset-2 col-sm-3">
                    <a href="#" class="btn btn-lg btn-primary btn-block"><i class="fa fa-play"></i> 启动</a>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <a href="#" class="btn btn-lg btn-danger btn-block"><i class="fa fa-stop"></i> 停止</a>
                </div>
            </div>
        </div>
        <div class="box-footer" id="line-log">
        </div>
    </div>
</section>