<section class="content">
    <div class="box box-success box-solid"">
        <div class="box-header with-border">
            <h3 class="box-title">操作工</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body opr-login">
            <form id="opr-form">
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" name="uid" class="form-control" placeholder="账号" />
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="text" name="pwd" class="form-control" placeholder="密码" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">登录</button>
                <p>-- 或者 --</p>
                <button type="submit" class="btn btn-danger btn-block">登出</button>
            </form>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">产线日志</h3>
        </div>
        <div class="box-body log-list">
            <table class="table compact">
                <colgroup>
                    <col width="200" />
                    <col />
                </colgroup>
                <tbody id="log-list">
                    <script type="text/plain" id="log-list-template">
                        {{#each Status.LOGTAB}}
                        <tr class="log-{{LEVEL}}">
                            <td>{{CTIME}}</td>
                            <td>{{CONTENT}}</td>
                        </tr>
                        {{/each}}
                    </script>
                </tbody>
            </table>
        </div>
        
    </div>
</section>