<div>
    <section class="content">
        <div class="box box-success box-solid" ">
            <div class="box-header with-border">
                <h3 class="box-title">工单控制</h3>
                <div class="box-tools pull-right">
                    <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-body">
                <table class="table compact table-striped table-hover">
                    <thead>
                        <tr>
                            <th>工单</th>
                            <th>料号</th>
                            <th>说明</th>
                            <th>规格</th>
                            <th>计划下达日</th>
                            <th>计划产出数量</th>
                            <th>已产出数量</th>
                            <th>投入数量</th>
                            <th width="90px"></th>
                        </tr>
                    </thead>
                    <tbody id="wo-list">
                        <script type="text/plain" id="wo-list-template">
                            {{#each Status.WOLIST}}
                            <tr>
                                <td>{{WOID}}</td>
                                <td>{{PARTNO}}</td>
                                <td>{{DESCRIPTION}}</td>
                                <td>{{SPEC}}</td>
                                <td></td>
                                <td>{{PSUM}}</td>
                                <td>{{OSUM}}</td>
                                <td>{{ISUM}}</td>
                                <td>
                                    {{#eq STATUS 'A'}}
                                    <a href="#" class="btn btn-danger  btn-sm" data-cmd="WOSTOP" data-woid="{{WOID}}">关闭</a>
                                    {{else}}
                                    <a href="#" class="btn btn-info btn-sm" data-cmd="WOSTART" data-woid="{{WOID}}">启动</a>
                                    {{/eq}}
                                </td>
                            </tr>
                            {{/each}}
                        </script>
                    </tbody>
                </table>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title">启动新工单</h3>
            </div>
            <div class="box-body">
                <form class="form-inline" id="wo-form">
                    <div class="form-group">
                        <label>工单号</label>
                        <input type="text" name="woid" class="form-control" placeholder="工单号" />
                    </div>
                    <div class="form-group">
                        <label>料号</label>
                        <select name="pn" class="form-control select2 select2-hidden-accessible" style="width:300px;">
                            <option value="">--请选择--</option>
                            {{#each Pns}}
                            <option value="{{PARTNO}}">{{PARTNO}} - {{DESCRIPTION}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>数量</label>
                        <input type="text" name="qty" class="form-control" placeholder="数量" />
                    </div>
                    <button type="submit" class="btn btn-primary btn">启动</button>
                </form>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title">产线日志</h3>
            </div>
            <div class="box-body log-list">
                <table class="table compact">
                    <colgroup>
                        <col width="150" />
                        <col />
                    </colgroup>
                    <tbody id="log-list">
                        <script type="text/plain" id="log-list-template">
                            {{#each Status.LOGTAB}}
                            <tr class="log-{{LEVEL}}">
                                <td>{{dt CTIME}}</td>
                                <td>{{CONTENT}}</td>
                            </tr>
                            {{/each}}
                        </script>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>