<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">工单控制</h3>
            <div class="box-tools pull-right">
                <a href="#Kanban" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-body">
            <div class="row" id="line-wos">
                <table class="table compact">
                    <thead>
                        <th width="30px">#</th>
                        <th>工单号</th>
                        <th>料号</th>
                        <th>说明</th>
                        <th>规格</th>
                        <th>计划下达日</th>
                        <th>计划产出数量</th>
                        <th>已经产出数量</th>
                        <th>投入数量</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row" id="line-wo-op">
                <div class="col-sm-offset-2 col-sm-3">
                    <a href="#" class="btn btn-lg btn-primary btn-block"><i class="fa fa-play"></i> 启动</a>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                    <a href="#" class="btn btn-lg btn-danger btn-block"><i class="fa fa-stop"></i> 停止</a>
                </div>
            </div>
        </div>
        <div class="box-footer" id="line-log">
        </div>
    </div>
</section>