.progress-modal .modal-body {
    text-align: center;
    padding-top: 100px;
    height: 100%;
}

.progress-modal i {
    font-size: 50px;
    color: #0f0;
    animation: progress-modal-icon 2s infinite linear;
}

@keyframes progress-modal-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    left: 0;
    right: auto;
}

section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dropdown-menu-primary, .dropdown-menu-primary li a {
    background-color: #fff !important;
}

    .dropdown-menu-primary li a:hover {
        background-color: #00a65a !important;
        color: #fff !important;
    }

.table .btn, form .btn {
    min-width: 80px;
}

.table.compact .btn {
    line-height: 1.2;
}

.table.compact th {
    padding: 5px;
}

.table.compact td {
    padding: 3px;
    overflow: hidden;
}

.select2 .select2-selection {
    padding: 0 12px;
}

.iradio_square-blue {
    margin-right: 10px;
}

.box {
    margin-bottom: 0;
}

.box-body {
    padding: 5px;
}

.box-solid.box-success .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}

    .box-solid.box-success .box-header a {
        color: #ffffff;
        background: #00a65a;
        background-color: #00a65a;
    }

.box-footer .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.text-white {
    color: #fff;
}

.logo i {
    line-height: 50px;
}

.navbar-nav .title {
    line-height: 50px;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

#line-content, #line-content > .content, #line-main {
    display: flex;
    flex-direction: column;
}

    #line-content > .content {
        padding: 15px !important;
    }

    #line-content > .content, #line-main, #line-main div.box-body {
        flex: 1;
        width: 100%;
    }

        #line-main div.box-header, #line-main div.box-footer, #line-main div.log-list {
            flex: 0;
        }

.kanban-toggel {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 40px;
}

#stn-sop {
    padding-left: 0;
}
/**Idle**/
.stn-status-I {
    background-color: yellow;
    color: #000;
}
/**Stop**/
.stn-status-S {
    background-color: gray;
    color: #fff;
}
/**Run**/
.stn-status-R {
    background-color: green;
    color: #fff;
}
/**Debug**/
.stn-status-D {
    background-color: brown;
    color: #fff;
}
/**Maintain**/
.stn-status-M {
    background-color: brown;
    color: #fff;
}
/**Other**/
.stn-status-O {
}
/**Fault**/
.stn-status-F {
    background-color: red;
    color: #fff;
}

    .stn-status-S a, .stn-status-R a, .stn-status-D a, .stn-status-M a, .stn-status-F a {
        color: #fff;
    }

.stn-status-I a {
    color: #000;
}

.log-2 {
    background-color: #d73925;
    color: #fff;
}

.log-1 {
    background-color: #d58512;
    color: #fff;
}

.line-form {
    text-align: center;
}

    .line-form > * {
        margin: 10px auto;
        width: 38%;
        text-align: left;
    }

#wo-list {
    max-height: 16em;
    overflow-y: scroll;
}

#fn-list a.btn {
    margin: 3px auto;
}

#stn-main > div {
    display: flex;
    flex-direction: column;
}

#stn-main-content {
    flex: 1;
}

#log-stn-wrap {
    flex: 0;
}

#log-list {
    height: 8em;
    overflow: auto;
}
