.progress-modal .modal-body {
    text-align: center;
    padding-top: 100px;
    height: 100%;
}

.progress-modal i {
    font-size: 50px;
    color: #0f0;
    animation: progress-modal-icon 2s infinite linear;
}

@keyframes progress-modal-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    left: 0;
    right: auto;
}

.table .btn, form .btn {
    min-width: 80px;
}

.table.compact .btn {
    line-height: 1.2;
}

.table.compact th {
    padding: 5px;
}

.table.compact td {
    padding: 3px;
    overflow: hidden;
}

.select2 .select2-selection {
    padding: 0 12px;
}

.box {
    margin-bottom: 0;
}

.box-footer .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.text-white {
    color: #fff;
}

.logo i {
    line-height: 50px;
}

.navbar-nav .title {
    line-height: 50px;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

.box-foot-title {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1;
}

.kanban-toggel {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 40px;
}

.log-2 {
    background-color: #d73925;
    color: #fff;
}

.log-1 {
    background-color: #d58512;
    color: #fff;
}

.log-list {
    min-height: 10em;
    max-height: 15em;
    overflow-y: auto;
}

.line-form {
    text-align: center;
}

    .line-form > * {
        margin: 10px auto;
        width: 38%;
        text-align: left;
    }

#wo-list {
    max-height: 12em;
    overflow-y: scroll;
}
