.progress-modal .modal-body {
    text-align: center;
    padding-top: 100px;
    height: 100%;
}

.progress-modal i {
    font-size: 50px;
    color: #0f0;
    animation: progress-modal-icon 2s infinite linear;
}

@keyframes progress-modal-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    left:0;
    right:auto;
}

.table .btn, form .btn {
    min-width: 80px;
}

.table.compact .btn{
    line-height: 1.2;
}

.table.compact th {
    padding: 5px;
}
.table.compact td {
    padding: 3px;
}

.box-footer .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.text-white {
    color: #fff;
}

.logo i {
    line-height: 50px;
}

.navbar-nav .title {
    line-height: 50px;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}
/*
.side-menu {
    background-color: #222d32;
    border: none;
    width: 230px !important;
}

    .side-menu a {
        color: #b8c7ce;
    }
*/
.box-foot-title {
    padding: 10px 0;
    font-size: 18px;
    line-height: 1;
}

#line-main, #line-main > section {
    display: flex;
    flex-direction: column;
}

    #line-main > section, #line-main > section > div {
        flex: 1;
        margin: 0;
    }

.kanban-toggel {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 40px;
}

.log-2 {
    background-color: #d73925;
    color: #fff;
}

.log-1 {
    background-color: #d58512;
    color: #fff;
}

.log-list {
    min-height: 10em;
    max-height: 20em;
    overflow-y: auto;
}

.opr-login {
    text-align: center;
}

#opr-form{
    margin: 10px auto;
    width: 38%;
}
#opr-form .form-group{text-align:left;}
    #opr-form p {line-height:30px;}
