.progress-modal .modal-body {
    text-align: center;
    padding-top: 100px;
    height: 100%;
}

.progress-modal i {
    font-size: 50px;
    color: #0f0;
    animation: progress-modal-icon 2s infinite linear;
}

@keyframes progress-modal-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    left: 0;
    right: auto;
}

section.line-admin {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dropdown-menu-primary, .dropdown-menu-primary li a {
    background-color: #fff !important;
}

    .dropdown-menu-primary li a:hover {
        background-color: #3c8dbc !important;
        color: #fff !important;
    }

.table .btn, form .btn {
    min-width: 80px;
}

.table.compact .btn {
    line-height: 1.2;
}

.table.compact th {
    padding: 5px;
}

.table.compact td {
    padding: 3px;
    overflow: hidden;
}
.table.selectable tbody{
    cursor: pointer;
}
.table.selectable tr.active, tr.active td {
    background-color: #398439 !important;
    color: #fff !important;
}

.select2 .select2-selection {
    padding: 0 12px;
}

.iradio_square-blue {
    margin-right: 10px;
}

.box {
    margin-bottom: 0;
}

.box-body {
    padding: 5px;
}

.box.box-solid.box-primary {
    border-radius: 0;
    border: 1px solid #d2d6de;
}

    .box.box-solid.box-primary .box-header {
        color: #000;
        background-color: #d2d6de;
    }

    .box .box-header .box-title{
        font-size: 100%;
        font-weight: bold;
    }

        .box.box-solid.box-primary .box-header a {
            color: #fff;
        }

.box-footer .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.text-white {
    color: #fff;
}

.logo i {
    line-height: 50px;
}
.user-header i.fa{
    font-size: 500%!important;
}

.navbar-nav .title {
    line-height: 50px;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

#line-content, #line-content > .content, #line-main, #stn-main > div, #wh-content, #wh-content > .content, #wh-content > .content > .box {
    display: flex;
    flex-direction: column;
}

    #line-content > .content {
        padding: 15px !important;
    }

    #line-content > .content, #line-main, #line-main div.box-body, #stn-main-content, #wh-content > .content, #wh-content > .content > .box, #wh-content > .content > .box .box-body {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        width: 100%;
    }

        #line-main div.box-header, #line-main div.box-footer, #line-main div.log-list, #stn-status-wrap, #wh-content > .content > .box > .box-header, #wh-content > .content > .box > .box-footer {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            width: 100%;
        }

.kanban-tooltip {
    background-color: #fff;
    color: #000;
    margin-bottom: 0;
}

    .kanban-tooltip td {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .kanban-tooltip .warn-OK {
        background-color: green;
        color: #fff;
    }

    .kanban-tooltip .warn-NG {
        background-color: red;
        color: #fff;
    }

    .kanban-tooltip .proc-P {
        background-color: green;
        color: #fff;
    }

    .kanban-tooltip .proc-F {
        background-color: red;
        color: #fff;
    }

    .kanban-tooltip .sn-P {
        background-color: green;
        color: #fff;
    }

    .kanban-tooltip .sn-F {
        background-color: red;
        color: #fff;
    }

.kanban-toggel {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 40px;
}

#stn-sop {
    padding-left: 0;
}
#stn-sop div.box{
    overflow:hidden;
}
#stn-sop-img img{width: 100%;}
/**Idle**/
.stn-status-I, .stn-status-I * {
    background-color: yellow !important;
    color: #000 !important;
}
/**Stop**/
.stn-status-S, .stn-status-S * {
    background-color: gray!important;
    color: #fff!important;
}
/**Run**/
.stn-status-R, .stn-status-R *  {
    background-color: green!important;
    color: #fff!important;
}
/**Debug**/
.stn-status-D, .stn-status-D * {
    background-color: brown!important;
    color: #fff!important;
}
/**Maintain**/
.stn-status-M, .stn-status-M * {
    background-color: brown!important;
    color: #fff!important;
}
/**Other**/
.stn-status-O {
}
/**Fault**/
.stn-status-F, .stn-status-F * {
    background-color: red!important;
    color: #fff!important;
}

    .stn-status-S a, .stn-status-R a, .stn-status-D a, .stn-status-M a, .stn-status-F a {
        color: #fff;
    }

.stn-status-I a {
    color: #000;
}

.log-2 {
    background-color: #d73925;
    color: #fff;
}

.log-1 {
    background-color: #d58512;
    color: #fff;
}

.line-form {
    text-align: center;
}

    .line-form > * {
        margin: 10px auto;
        width: 38%;
        text-align: left;
    }

#wo-list {
    max-height: 16em;
    overflow-y: scroll;
}

#fn-list a.btn {
    margin: 3px auto;
}

#log-list {
    height: 8em;
    overflow: auto;
}

#line-status {
    text-align: center;
    font-size: 130%;
}

    #line-status .label {
        color: #000;
        margin: auto 5px auto 15px;
    }

    #line-status .value {
        color: #000;
        font-size: 130%;
        margin: auto 5px;
    }

#line-chart {
    margin: 0;
}

    #line-chart > div {
        height: 120px;
        padding: 0 15px;
    }

#stn-status {
    margin-bottom: 0;
}

    #stn-status th {
        background-color: #000;
        color: #ff0;
    }

    #stn-status thead th {
        text-align: center;
    }
    #stn-status tbody td {
        background-color: lightgray;
        height: 60px;
        max-width: 350px;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    #stn-status .opr-0 {
        background-color: lightcoral;
    }

    #stn-status .opr-1 {
        background-color: #000;
        color: yellow;
    }

    #stn-status .stn-F {
        background-color: red;
        color: #fff;
    }

    #stn-status .stn-R {
        background-color: green;
        color: #fff;
    }

    #stn-status .stn-M, #stn-status .stn-I {
        background-color: yellow;
        color: #000;
    }

    #stn-status .warn-OK {
        background-color: green;
        color: #fff;
    }

    #stn-status .warn-NG {
        background-color: red;
        color: #fff;
    }

    #stn-status .proc-P {
        background-color: green;
        color: #fff;
    }

    #stn-status .proc-F {
        background-color: red;
        color: #fff;
    }

    #stn-status .sn-P {
        background-color: green;
        color: #fff;
    }

        #stn-status .sn-P:after {
            content: "允许"
        }

    #stn-status .sn-F {
        background-color: red;
        color: #fff;
    }

        #stn-status .sn-F:after {
            content: "禁止"
        }

.stn-proc p {
    font-size: 150%;
}